#game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chess__board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 1px solid #333;
}

.chess__square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark {
    background-color: darkgrey;
}

.move__legal {
    background-color: darkcyan;
}

.dark.move__legal {
    background-color: rgba(0, 139, 139, 0.781);
}
.chess__piece {
    width: 50px;
    height: 50px;
    user-select: none;
}

/* Alternating colors for chess board squares */
/* ... Add your CSS for alternating colors here ... */
